# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================

venv/
.env/
.venv/

# =========================
# VSCode
# =========================

.vscode/

# =========================
# PyCharm
# =========================

.idea/

# =========================
# Build
# =========================

build/
dist/
*.egg-info/


# =========================
# Logs
# =========================

*.log

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# git
# =========================
.git

# =========================
# other
# =========================
.mmd
.ipynb_checkpoints/
example/